html,
body,
#map {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.cf:before,
.cf:after {
  content: ' ';
  display: table;
}
.cf:after {
  clear: both;
}
#search-container {
  width: 100%;
  min-height: 8vh;
  background: blue;
}

input {
  margin: 3vh 2vh 3vh 0;
  float: right;
  height: 5vh;
}

@media only screen and (max-width: 768px) {
  h4,
  input {
    width: 100%;
    text-align: center;
  }
}
